@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: none;
  overflow: hidden;
  background-color: #020617;
  user-select: none;
  -webkit-user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Animations */
.animate-fade-in { animation: fadeIn 0.5s ease-out forwards; }
.animate-pop-in { animation: popIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes popIn { 0% { opacity: 0; transform: scale(0.8) translateY(20px); } 100% { opacity: 1; transform: scale(1) translateY(0); } }
